@tailwind base;

@tailwind components;

@font-face {
   font-family: 'Lato';
   src: local('Lato'), url(./Lato/Lato-Regular.ttf) format('ttf');
}

@tailwind utilities;

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
