{% extends 'base.html' %}
{% load static %} 
{% block content %}

<div class="w-full h-dashboard overflow-auto dark:bg-background_dark">
   <div class="container mx-auto p-4 max-w-3xl">
      <h1 class="text-center mx-auto text-3xl font-bold">Doors</h1>
     {% if door_list|length < 1 %}
     <div class="min-h-screen bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 text-center">
       <p>No doors are available to unlock.</p>
     </div>
     {% endif %}
 
     {% for door in door_list %}
     <div class="bg-gray-50 dark:bg-background_med rounded-lg shadow-sm duration-100 px-2 py-4 my-4">
       <div class="flex flex-wrap justify-between">
         <div class="flex">
           <div class="text-gray-900 dark:text-gray-200 text-lg font-semibold mx-2">
             {{ door.name }}
           </div>
           <div
               id="unlocked-sign-{{ door.acme_device_id }}" 
               class="
               {% if door.locked %}hidden{% endif %}
               bg-green-200 rounded-lg p-2 mx-2">
               Unlocked 
            </div>
            <div 
               id="locked-sign-{{ door.acme_device_id }}"
               class="
               {% if not door.locked %}hidden{% endif %}
               bg-red-200 rounded-lg p-2 mx-2">
               Locked 
            </div>
         </div>
         <div>
            <button
               id="unlock-button-{{ door.acme_device_id }}"
               device-id="{{ door.acme_device_id }}"
               class="
                  {% if not door.locked %}hidden{% endif %}
                  unlock-button
                  bg-blue-500
                  hover:bg-blue-400
                  text-white
                  font-bold
                  py-2
                  px-4
                  rounded
                  shadow-md">
               Unlock
            </button>
            <button
               id="lock-button-{{ door.acme_device_id }}"
               device-id="{{ door.acme_device_id }}"
               class="
                  {% if door.locked %}hidden{% endif %}
                  lock-button
                  bg-blue-500
                  hover:bg-blue-400
                  text-white
                  font-bold
                  py-2
                  px-4
                  rounded
                  shadow-md">
               Lock
            </button>
         </div>
       </div>         
     </div>
     <div class="h-36 w-full" />
     {% endfor %}
     <div class="container mx-auto my-8 w-full flex justify-center">
      <a href="{% url 'logout' %}" class="
         bg-blue-500
         hover:bg-blue-400
         text-white
         font-bold
         py-2
         px-4
         rounded
         shadow-md">Log Out</a>
     </div>
     
   </div>
 </div>
<script type="text/javascript">
   if (window.addEventListener) { // Mozilla, Netscape, Firefox
      window.addEventListener('load', handleLoad, false);
   } else if (window.attachEvent) { // IE
      window.attachEvent('onload', handleLoad);
   }

   function handleLoad(e) {
      lockButtons = document.querySelectorAll(".lock-button");
      for (var i = 0; i < lockButtons.length; i++) {
         button = lockButtons[i];
         button.addEventListener('click', handleLockClick);
      }

      unlockButtons = document.querySelectorAll(".unlock-button");
      for (var i = 0; i < unlockButtons.length; i++) {
         button = unlockButtons[i];
         button.addEventListener('click', handleUnlockClick);
      }
   }

   handleLockClick = async (e) => {
      button = e.target;
      doorId = button.getAttribute("device-id");
      try {
         const response = await fetch(`doors/lock/${doorId}/`, {method: 'POST', credentials: 'same-origin', body: {}});
         document.getElementById(`unlocked-sign-${doorId}`).classList.add("hidden");
         document.getElementById(`locked-sign-${doorId}`).classList.remove("hidden");
         document.getElementById(`lock-button-${doorId}`).classList.add("hidden");
         document.getElementById(`unlock-button-${doorId}`).classList.remove("hidden");
      } catch (e) {
         console.log(e);
      }

      e.preventDefault();
   }
   
   handleUnlockClick = async (e) => {
      button = e.target;
      doorId = button.getAttribute("device-id");
      try {
         const response = await fetch(`doors/unlock/${doorId}/`, {method: 'POST', credentials: 'same-origin', body: {}});
         document.getElementById(`locked-sign-${doorId}`).classList.add("hidden");
         document.getElementById(`unlocked-sign-${doorId}`).classList.remove("hidden");
         document.getElementById(`unlock-button-${doorId}`).classList.add("hidden");
         document.getElementById(`lock-button-${doorId}`).classList.remove("hidden");
      } catch (e) {
         console.log(e);
      }

      e.preventDefault();
   }
</script>

{% endblock %}